<!DOCTYPE html>
<html lang="ru">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">   
    
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
        </script>
</head>
{% set links = [
    {name:'instagram'},
    {name:'linked'},
    {name:'vk'},
    {name:'youtube'}
    ] %}
<body class="hollidays-body">
    <div class="wrapper" id="wrapper">
        <div class="blur top-blue"></div>
        <div class="blur top-green"></div>
        {% include "_html/_base/_includes/_header.html" %}
        <div class="content hollidays">
           {% block content %}{% endblock %}
        </div>

        {% include "_html/_base/_includes/_footer.html" %}
                
    </div>
    
    <a href="#" class="btn btn-green btn-fixed"><span>Я еду</span></a>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>   
   
    <!-- {% if maskedPhone %}
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js" type="text/javascript"></script>
    {% endif %} -->
    <script src="assets/js/app.min.js"></script>
    {% include "_html/_components/_modals.html" %}

</body>
</html>
