<!DOCTYPE html>
<html lang="ru">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">   
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
        </script>
</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <div class="wrapper" id="wrapper">
        <div class="content plogistic">
            <div class="plogistic__top plogistic__top--success container relative">
                <header class="plogistic__header d-flex justify-between align-center">
                    <div class="plogistic__logo d-flex align-center">
                        <a href="/" class="plogistic__logo-title">plogistic</a>
                        <span class="plogistic__logo-desc">
                            Занимаемся бизнесом <br>в Китае c 2002 года
                        </span>
                    </div>
                    <div class="plogistic__right d-flex align-center">
                        <div class="plogistic__social d-grid">
                            <a href="#" class="telegram">
                                <img src="/assets/img/telegram.svg" alt="telegram">
                            </a>
                            <a href="#" class="whatsap">
                                <img src="/assets/img/whatsap.svg" alt="whatsap">
                            </a>
                        </div>
                        <a href="tel:+79998862981" class="plogistic__phone">+7 (999) 886-2981</a>
                    </div>
                </header>
                <div class="plogistic__topbox d-flex justify-center">
                    <h1 class="title-h1 plogistic__top-title plogistic__top-title--success">
                        Спасибо за заявку!
                        <br>
                        Мы свяжемся с вами
                       <br><span>в ближайшее время</span>
                    </h1>
                    
                </div>
                
            </div>
           
        </div>

        {% include "_html/_base/_includes/_footer.html" %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>   
    <!-- {% if maskedPhone %}
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js" type="text/javascript"></script>
    {% endif %} -->
    <script src="assets/js/app.min.js"></script>


   
</body>
</html>
