/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding-left: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    // min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.4;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
a{
    text-decoration: none;
}
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

mark{
    background-color: transparent;
}

html
{
    height: 100%; 
    font-size: 1px; 
    // scroll-behavior: smooth
    
}
body{
    position: relative;
    height: 100%;
    font-size: 26.67rem;
    line-height: $lh;
    font-family: 'ALS';
    font-weight: 500;
    color: $text;
    transition: oveflow .4s;
    background-color: $body;
    letter-spacing: -0.05em;
    -webkit-font-smoothing: antialiased;
    
    @media (max-width:1680px){
        font-size: 20rem;
        line-height: 32rem;
    }
    @media (max-width:767px){
        font-size: 16rem;
        line-height: 24rem;
    }
}
.wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    margin:0 auto;
    min-width: 375px;
    min-height: 100%;
    max-width: 1920px;
    overflow: hidden;
    
    
    .content {
        padding-top: 181.32rem;
        position: relative;
        flex: 1 0 auto;
        @media (max-width:1915px) {
            padding-top: 136rem;
        }
        @media (max-width:1280px){
            padding-top: 108rem;
        }
        @media (max-width:1100px){
            padding-top: 88rem;
        }
    }

    .footer {
        flex: 0 0 auto;
    }
}


.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1664px;
    @media (max-width:1680px) {
        max-width: 1440px;
    }
    @media (max-width:1480px) {
        max-width: 1248px;
    }
    @media (max-width:1280px) {
        max-width: unset;
        width: calc(100% - 32rem);
    }
}
.blur{
    width: 1225.33rem;
    height: 1225.33rem;
    position: absolute;
    z-index: -1;
    filter: blur(666.667rem);
    @media (max-width:1680px){
        width: 900rem;
        height: 900rem;
    }
    @media (max-width:1440px){
    filter: blur(500rem);
    }
    @media (max-width:767px){
        width: 600rem;
        height: 600rem;
         filter: blur(400rem);
    }
}



.top-blue{
    width: 1200rem;
    height: 1200rem;
    top: 358rem;
    left: -756rem;
    background: #203CC8;  
    @media (max-width:1680px) {
       top: 33rem;
       left:-431rem ;
      }
    @media (max-width:1440px){
    top: 296rem;
    left: -581rem;
    }
    @media (max-width:767px){
        top: 336rem;
        left: -559rem;
    }
}
.top-green{    
    top: -934rem;
    right: 0;
    background: #6AC820;    
    @media (max-width:1680px) {
      top: -715rem;
    }

    @media (max-width:767px){
        top: 336rem;
        right: -382rem;
    }
    
}
.blur-presentaition{    
    right: 0;
    bottom: -447rem;
    background: #B020C8; 
    @media (max-width:1680px) {
         bottom: -125rem;
        }
    @media (max-width:1440px) {
         bottom: -372rem;
        }
    @media (max-width:767px) {
         bottom: -242rem;
         right: -385rem;
        }
}

.blure-exemples{    
    top: -212rem;
    left: -553rem;
    background: #008A71;
    @media (max-width:1680px) {
         top: 113rem;
         left: -228rem;
        }
    @media (max-width:1440px) {
         top: -194rem;
         left: -420rem;
        }
    @media (max-width:767px) {
         top: -297rem;
         left: -301rem;
        }
    }




.blure-exemples-green{    
    top: 600rem;
    right: -656rem;
    background: #9AC84F;
    @media (max-width:1680px) {
         top: 275rem;
         right: -331rem;
        }
    @media (max-width:1440px) {
         top: 437rem;
         right: -470rem;
        }
    @media (max-width:767px) {
         top: 570rem;
         right: -277rem;
        }
}


.blure-exemples-blue{    
    bottom: -722rem;
    left: -498rem;
    background: #2063C8;
    @media (max-width:1680px) {
            bottom: -397rem;
            left: -137rem;
        }
    @media (max-width:1440px) {
            bottom: -271rem;
            left: -374rem;
        }
    @media (max-width:767px) {
         bottom: -228rem;
         left: 371rem;
        }
}



.blur-media-yellow{
top: 317rem;
left: -934rem;
background: #C8A320;
transform: matrix(-1, 0, 0, 1, 0, 0);
z-index: 2;
mix-blend-mode:multiply;
@media (max-width:1680px) {
        top: -8rem;
        left: -609rem;
    }
@media (max-width:1440px) {
   top: 239rem;
   left: -659rem;
}
@media (max-width:767px) {
    top: 144rem;
    left: -499rem;
}
}
.blur-media-blue{
    top: 816rem;
    right: -792rem;
    background: #2045C8;    
    transform: matrix(-1, 0, 0, 1, 0, 0);
    mix-blend-mode: multiply;
    z-index: 2;
    @media (max-width:1680px) {
        top: 491rem;
        right: -467rem;
    }
    @media (max-width:1440px) {
        top: 613rem;
        right: -583rem;
    }
    @media (max-width:767px) {
         top: 684rem;
         right: -417rem;
        }
}