
@font-face {
  font-family: "ALS";
  src: url('../fonts/als_hauss_medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALS";
  src: url('../fonts/als_hauss_bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "ALS";
  src: url('../fonts/als_hauss_regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
