.hollidays{
  &__header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    z-index: 999;
    @media (max-width:1280px) {
        padding-bottom: 16rem;
        padding-top: 16rem;
      }
    @media (max-width:1100px) {
        background: $header;
      }
     
    &.scrolled{
      .hollidays__social,.hollidays__name{
        opacity: 0;
        pointer-events: none;
      }
      .hollidays__name{
        @media (max-width:1280px){
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
  &__top{
    justify-content: space-between;
    align-items: center;
    padding-top: $lh;
    padding-bottom: 37rem;
    @media (max-width:1915px) {
      padding-top: 32rem;
      padding-bottom: 28rem;
    }
    @media (max-width:1280px){
        padding-bottom: 0;
        padding-top: 0;
      }
    &.fixed{
      position: fixed;
      top: 0;
      left: 50%;
      transform:translateX(-50%);
    }
  }
  &__menubox{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 10.6667px 32px #EBEDF4;
    backdrop-filter: blur(16rem);
    border-radius: 48rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 35rem $lh 24rem;
    
    @media (max-width:1680px){
      padding: 26rem 32rem 18rem 32rem;
    }
     @media (max-width:1100px){
      display: none;
    }
  }
  &__menu-mobile{
    display: none;
    @media (max-width:1100px) {
        display: flex;
        flex-flow: column;
        align-items: center;
        // justify-content: center;
        background-color: $header;
        box-shadow: none;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 998;
        padding: 120rem 16rem 32rem 16rem;
        opacity: 0;
        transition: opacity .3s;
        &.active{
          left: 0;
          opacity: 1;
          
        }
        .hollidays__menu {
          display: inline-flex;
          flex-flow: column;
          // height: calc(100% - 64rem);
        }
      }
  }
  &__menu-item{
    font-weight: 700;
    letter-spacing: -0.04em;
    overflow: hidden;
    &:not(:last-child){
      margin-right: 42.67rem;
      @media (max-width:1680px){
        margin-right: 32rem;
      }
      @media (max-width:1100px){
        margin-right: 0;
        margin-bottom: 24rem;
      }
    }
    &:hover{
      @media (min-width:1280px){
        a{
          color: $text;
          animation: bounce_menu .3s ease;        }

      }
    }
    @media (max-width:1680px){
      font-size: 20rem;
      line-height: 32rem;
    }
    @media (max-width:1100px){
      font-size: 54rem;
      line-height: 48rem;
    }
  }
  &__menu-link{
    color: $menuItem;
    display: block;
    transition: transform .1s;
    &.active{
      color: $text;
    }
  }
  &__social{
    grid-template-columns: repeat(4,$lh);
    grid-gap: 21.33rem;
    transition: opacity .2s;
    @media (max-width:1680px){
      grid-template-columns: repeat(4, 32rem);
      grid-gap: 16rem;
    }
    @media (max-width:1200px){
      grid-template-columns: repeat(2, 32rem);
      grid-gap: 0;
    }
    @media (max-width:1100px){
      display: none;
    }

  }
  &__social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $lh;
    @media (max-width:1680px) {
       height: 32rem;
       img{
        width: 24.9rem;
       }
       &:nth-child(3){
        img{
          width: 24.88rem;
          height: 28.44rem;
        }
       }
       &:last-child{
        img{
          width: 30.34rem;
          height: 31.33rem;
        }
       }
      }
  }
  &__name{
    position: relative;
    top: -10rem;
    font-size: 53.33rem;
    font-weight: 700;
    letter-spacing: -0.06em;
    transition: opacity .2s;
    @media (max-width:1680px) {
        top: 0;
        font-size: 40rem;
        line-height: 32rem;
        letter-spacing: -0.05em;
      }
    @media (max-width:1100px){
      font-size: 31.1111rem;
      line-height: 25rem;
      color: $text;
    }
  }
  &__toggler{
    display: none;
    @media (max-width:1100px){
      position: relative;
      display: flex;
      width: 56rem;
      height: 56rem;
      background-color: $white;
      border-radius: 24rem;
      cursor: pointer;
      span{
        position: absolute;
        height: 2rem;
        width: 24rem;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        background-color: $text;
        border-radius: 2rem;
        &::before{
          content:"";
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 2rem;
          left: 0;
          top: -7rem;
          background-color: $text;
          transition:transform .4s;
        }
        &::after{
          content:"";
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 2rem;
          left: 0;
          top: 7rem;
          background-color: $text;
          transition:transform .4s;
        }
      }
    }
    &.active{
      background-color: $toggler;
      span{
        background-color: transparent;
        &::before{
          top: 0;
          left: 0;
          transform:rotate(135deg);
          background-color: $white;
        }
        &::after{
          top: 0;
          left: 0;
          transform:rotate(-135deg);
          background-color: $white;
        }
      }
    }
  }
  &__mg-socials{
    grid-template-columns: repeat(4,64rem);
    grid-column-gap: 16rem;
    width: 325rem;
    margin-top: 48rem;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64rem;
      background-color: $white;
      border-radius: 24rem;
    }
  }
}