.modal-fade{
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  z-index: -1;
  pointer-events: none;
  transition: all .4s;
  &.active{
    display: flex;
    flex-flow: column;
    background: rgba(38, 51, 75, 0.8);
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: 1000;
  }
}