<div id="wts" class="begin js-section">
  <div class="hollidays__begin relative">
    <div class="container relative hollidays__begin-header">
      <h1 class="hollidays__begin-title white">
        Большие
        <br>каникулы
        <br>для взрослых
      </h1>
      <div class="hollidays__begin-coner absolute d-flex white">
        <div class="hollidays__begin-date">
          в Сочи с <span>23</span>
          <br>по <span>29</span>
        </div>
        <div class="hollidays__begin-month">марта</div>
      </div>
    </div>
    <div class="hollidays__begin-video">      
        <a data-fancybox="vidos" data-src="/assets/img/top.mp4" class="play-link play-link--left"></a>
        <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg" data-src="/assets/img/top-prev.mp4" loop>
          <source src="" type="video/mp4">        
        </video>
    </div>
    <div class="hollidays__begin-wts container white">
      Что это?
    </div>
  </div>
  <!-- Море,Горы -->
  <div class="container hollidays__begin-sea-mountain d-flex relative">
    <div class="hollidays__begin-smItem white">
      <div class="hollidays__begin-smInner relative d-flex">
        <div class="hollidays__begin-smName sea-name">Море</div>
        <div class="hollidays__begin-smImg relative">
          <div>
            <picture>
              <source srcset="/assets/img/sea.webp" type="image/webp">
              <img src="/assets/img/sea.png" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="hollidays__begin-smShadow-sea absolute">
            <picture>
              <source srcset="/assets/img/sea.webp" type="image/webp">
              <img src="/assets/img/sea.png" alt="Горы" class="main_image">
            </picture>
          </div>
        </div>
      </div>
    </div>
    
    <div class="hollidays__begin-smItem white relative">
      <div class="hollidays__begin-smInner relative d-flex">
        <div class="hollidays__begin-smName mountain-name">Горы</div>
        <div class="hollidays__begin-smImg relative">
          <div>
            <picture>
              <source srcset="/assets/img/mountain.webp" type="image/webp">
              <img src="/assets/img/mountain.png" alt="Горы" class="main_image main_image--mount">
            </picture>
          </div>
          <div class="hollidays__begin-smShadow absolute">
            <picture>
              <source srcset="/assets/img/mountain.webp" type="image/webp">
              <img src="/assets/img/mountain.png" alt="Горы">
            </picture>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <!-- /Море,Горы -->
  
  <div class="container hollidays__presentaition d-flex relative">
    <div class="hollidays__presentaition-titles relative white text-center">
      <div class="hollidays__presentaition-titlesTop d-flex">
        <h4 class="hollidays__presentaition-titlesItem">
          Супер
          <br>насыщенная
          <br>программ
        </h4>
        <h4 class="hollidays__presentaition-titlesItem">
          Замечательные
          <br>люди
        </h4>
      </div>
      <div class="hollidays__presentaition-titlesBottom scroll-fade">
        <span>
          Мы арендовали целую гостиницу 
          <br>и закрываем ее только для нас. 
          <br>Комфортабельные номера, открытый 
          <br>подогреваемый бассейн, баня, своё кафе, 
          <br>бар и вкусные кальяны
        </span>
      </div>
    </div>
    <div class="hollidays__presentaition-video absolute">    
        <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg" data-src="/assets/img/top-prev.mp4" loop>
          <source src="" type="video/mp4">
        </video>
    </div>   
    </div>
    <div class="blur blur-presentaition"></div>
  </div>

  {% include "./_begin-slider.html" %}
  <div class="hollidays__exemples relative ovh">
    <div class="container">
      <h2 class="hollidays__exemples-title white scroll-fade">
        В этот проект мы взяли все самое тёплое, доброе, весёлое
      </h2>
      <div class="hollidays__exemples-grid d-grid text-gray">
        <div class="hollidays__exemples-options">
          <div class="hollidays__exemples-item">
            <p>
              Наше мероприятие рассчитано на 12 - 16 человек. Трансфер будет осуществляться на удобных минивенах. Всем участникам
              будет комфортно и уютно
            </p>
          </div>
        </div>
        <div class="hollidays__exemples-options">
          <div class="hollidays__exemples-item">
            <p>
              Каждый вправе сам выбирать уровень своей активности. Ты можешь поспать или почиллить у бассейна, пропустив любые
              мероприятия. Свой максимум ты выбираешь сам
            </p>
          </div>
          <div class="hollidays__exemples-item">
            <p>
              Важно отметить, что «отрываться как взрослые» мы сможем после «отбоя», только тогда открывается опция бара, кальяна,
              веселых танцев и взрослых шуток. Делать это будем как в нашем кафе/баре, так и выезжать в рестораны и клубы Центрального
              Сочи и Адлера
            </p>
          </div>
        </div>
      </div>
      <div class="hollidays__exemples-lists relative white">
        <h2 class="hollidays__exemples-list scroll-fade">
          Утренние
          <br>зарядки,
          <br>спорт,
          <br>путешествия 
          <br>и общение сделают 
          <br>отдых незабываемым
        </h2>
      </div>
    </div>
    <div class="blur blure-exemples"></div>
    <div class="blur blure-exemples-green"></div>
    <div class="blur blure-exemples-blue"></div>
  </div>
</div>  
