<div class="faq js-section" id="faq">
  <div class="container">
    <div class="faq__box d-flex">
      <div class="faq__title">
        Частые
        <br>вопросы
      </div>
      <div class="faq__container">
        <div class="faq__item">
          <div class="faq__header d-flex relative active">
            <div class="faq__name">Могу ли я уехать раньше окончания Больших каникул?</div>
            <div class="faq__btn absolute"></div>
          </div>
          <div class="faq__content text-gray" style="display: block;">
            <p>
              Да, вы спокойно можете покинуть тур в любой момент. Учтите, что деньги я вам не отдам
            </p>
          </div>
        </div>
        <div class="faq__item">
          <div class="faq__header d-flex relative">
            <div class="faq__name">Второй важный вопрос, на который срочно требуется ответ</div>
            <div class="faq__btn absolute"></div>
          </div>
          <div class="faq__content text-gray">
            <p>
              Ответа на данный вопрос нет, и никогда не будет. Так что sorry, рекомендую Google.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>