<div class="media js-section" id="media">
  <div class="media__container relative show-lg">
    <!-- media__row--top -->
    <div class="media__row media__row--top d-flex align-end">
      <div class="media__row-video  card">
        <div class="js-card card-item relative">
          <a data-fancybox="vidos" data-src="/assets/img/top.mp4" class="play-link play-link--small"></a>
            <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
              data-src="/assets/img/t-prev.mp4" loop>
              <source src="" type="video/mp4">
            </video>

        </div>
      </div>
      <div class="media__row-img rotate-minus card">
        <div class="js-card card-item">
          <picture>
            <source srcset="/assets/img/media/1.webp" type="image/webp">
            <img src="/assets/img/media/1.jpg" alt="Горы" class="main_image">
          </picture>

        </div>
      </div>
      <div class="media__row-img  media__row-img--small card">
        <div class="js-card card-item">

          <picture>
            <source srcset="/assets/img/media/2.webp" type="image/webp">
            <img src="/assets/img/media/2.jpg" alt="Горы" class="main_image">
          </picture>
        </div>
      </div>
      <div class="media__row-video  card">
        <div class="js-card card-item relative">
          <a data-fancybox="vidos" data-src="/assets/img/top.mp4" class="play-link play-link--small"></a>
          <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
            data-src="/assets/img/t-prev.mp4" loop>
            <source src="" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <!-- /media__row--top -->
    <!-- row media__row--midle  -->
    <div class="media__row media__row--midle d-flex">
      <div class="media__row-img rotate-plus card">
        <div class="js-card card-item">
          <picture>
            <source srcset="/assets/img/media/3.webp" type="image/webp">
            <img src="/assets/img/media/3.jpg" alt="Горы" class="main_image">
          </picture>

        </div>
      </div>
      <!-- title -->
      <div class="media__title absolute">
        <span>Фото</span>
        <div>
          <span class="text-light">и</span>
          <span>видео</span>
        </div>
      </div>
      <!-- /title -->
      <div class="media__row-img rotate-minus card">
        <div class="js-card card-item">
          <picture>
            <source srcset="/assets/img/media/5.webp" type="image/webp">
            <img src="/assets/img/media/5.jpg" alt="Горы" class="main_image">
          </picture>

        </div>
      </div>
    </div>
    <!-- /row media__row--midle  -->
    <div class="media__row media__row--bottom d-flex">
      <div class="media__row-video media__row-video--small card">
        <div class="js-card card-item relative">
          <a data-fancybox="vidos" data-src="/assets/img/top.mp4" class="play-link play-link--small"></a>
          <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
            data-src="/assets/img/t-prev.mp4" loop>
            <source src="" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="media__row-img  media__row-img--small card">
        <div class="js-card card-item">
          <picture>
            <source srcset="/assets/img/media/6.webp" type="image/webp">
            <img src="/assets/img/media/6.jpg" alt="Горы" class="main_image">
          </picture>

        </div>
      </div>
      <div class="media__row-img rotate-plus rotate-top card">
        <div class="js-card card-item">

          <picture>
            <source srcset="/assets/img/media/4.webp" type="image/webp">
            <img src="/assets/img/media/4.jpg" alt="Горы" class="main_image">
          </picture>
        </div>
      </div>
      <a href="" class="media__link">
        <div class="media__link-icon">
          <img src="/assets/img/inst-dark.svg" alt="Горы" class="main_image">
        </div>
        <div class="media__link-text">
          Больше
          <br>в сторис
        </div>
      </a>
    </div>
  </div>
  <!-- mobile -->
  {% include "./_media-mobile.html" %}
  <div class="blur blur-media-yellow"></div>
  <div class="blur blur-media-blue"></div>
</div>