<div class="media__mobile hide-lg">
  <div class="container">
    <div class="media__mobile-header d-flex">
      <div class="media__mobile-title">
        <span>Фото</span>
        <div>
          <span class="text-light">и</span>
          <span>видео</span>
        </div>
      </div>
      <a href="#" class="media__link media__link--mobile">
        <div class="media__link-icon">
          <img src="/assets/img/inst-dark.svg" alt="Горы" class="main_image">
        </div>
        <div class="media__link-text">
          Больше
          <br>в сторис
        </div>
      </a>
    </div>
    <div class="media__slider swiper">
      <div class="swiper-wrapper">
        
          <div class="media__mobile-slide relative swiper-slide js-card">
            <a data-fancybox="vidos" data-src="/assets/img/top.mp4" class="play-link play-link--small"></a>
            <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
              data-src="/assets/img/top-prev.mp4" loop>
              <source src="" type="video/mp4">
            </video>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="/assets/img/media/1.webp" type="image/webp">
              <img src="/assets/img/media/1.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="/assets/img/media/2.webp" type="image/webp">
              <img src="/assets/img/media/2.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <a data-fancybox="vidos" data-src="/assets/img/top.mp4" class="play-link play-link--small"></a>
            <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
              data-src="/assets/img/top-prev.mp4" loop>
              <source src="" type="video/mp4">
            </video>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="/assets/img/media/3.webp" type="image/webp">
              <img src="/assets/img/media/3.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="/assets/img/media/5.webp" type="image/webp">
              <img src="/assets/img/media/5.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <a data-fancybox="vidos" data-src="/assets/img/top.mp4" class="play-link play-link--small"></a>
            <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
              data-src="/assets/img/top-prev.mp4" loop>
              <source src="" type="video/mp4">
            </video>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="/assets/img/media/2.webp" type="image/webp">
              <img src="/assets/img/media/2.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="/assets/img/media/4.webp" type="image/webp">
              <img src="/assets/img/media/4.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
        
      </div>
    </div>
  </div>
</div>