<div class="price js-section" id="price">
  <div class="price__container relative">
    <div class="price__title-wrap relative">
      <h2 class="price__title white">
        Твои лучшие
        <br>каникулы
        <br>в Сочи   
      </h2>
      <div class="price__place absolute">
        <picture>
          <source srcset="/assets/img/hello_image.webp" type="image/webp">
          <img src="/assets/img/hello_image.jpg" alt="Горы" class="main_image">
        </picture>
      </div>
      <!-- <div class="price__desc text-gray di-flex">
        <a href="#" class="price__term d-block">Политика конфиденциальности</a>
        <a href="#" class="price__term d-block">Пользовательское соглашение</a>
      </div> -->
    </div>
    <div class="price__ticket">
      <div class="price__header">
        <span>65 000 ₽</span>
        <span class="text-light">/чел</span>
      </div>
      <div class="price__body">
        <h4 class="price__list-name price__body-title text-light">
          В билет входит
        </h4>
        <div class="price__list">
          <p>Трансфер из аэропорта</p>
          <p>Трехразовое питание</p>
          <p>Проживание в комфортных двухместных номерах</p>
          <p>Баня и бассейн</p>
          <p>Трансфер из аэропорта и на экскурсии/тусы</p>
          <p>Посещение скайпарка</p>
          <p>Прогулка на яхте</p>
          <p>Посиделки у костра и вечеринки</p>
        </div>
      </div>
      <div class="price__footer">
        <h4 class="price__list-name price__footer-title text-light">
          В билет не входит
        </h4>
        <div class="price__list">
          <p>Билет до Сочи</p>          
        </div>
      </div>
    </div>
  </div>
</div>