<div class="reviews js-section" id="reviews">
  <div class="container reviews__container">
    <header class="reviews__header white">
      Посмотрите отзывы тех, кто уже побывал на Больших Каникулах
    </header>
    <div class="reviews__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__item ">
          <div class="js-card">
            <div class="reviews__video relative">
              <a data-fancybox="vidos" data-src="/assets/img/v1.mp4" class="play-link"></a>
              <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
                data-src="/assets/img/v1-prev.mp4" loop>
                <source src="" type="video/mp4">
              </video>
            </div>
            <div class="reviews__item-contacts white">
              <div class="reviews__item-name">Максим</div>
              <div class="reviews__item-post">предприниматель</div>
              <div class="reviews__item-email">
                <div class="reviews__item-icon">
                  <img src="/assets/img/inst.svg" alt="slide">
                </div>
                <a href="mailto:maxpolpudnikov">maxpolpudnikov</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__item ">
          <div class=" js-card">
            <div class="reviews__video relative">
              <a data-fancybox="vidos" data-src="/assets/img/v2.mp4" class="play-link"></a>
              <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
                data-src="/assets/img/v2-prev.mp4" loop>
                <source src="" type="video/mp4">
              </video>
            </div>
            <div class="reviews__item-contacts white">
              <div class="reviews__item-name">Максим</div>
              <div class="reviews__item-post">предприниматель</div>
              <div class="reviews__item-email">
                <div class="reviews__item-icon">
                  <img src="/assets/img/inst.svg" alt="slide">
                </div>
                <a href="mailto:maxpolpudnikov">maxpolpudnikov</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__item ">
          <div class="js-card">
            <div class="reviews__video relative">
              <a data-fancybox="vidos" data-src="/assets/img/v3.mp4" class="play-link"></a>
              <video class="obs-video video-fit" preload="metadata" muted="false" poster="/assets/img/video-poster.jpg"
                data-src="/assets/img/v3-prev.mp4" loop>
                <source src="" type="video/mp4">
              </video>
            </div>
            <div class="reviews__item-contacts white">
              <div class="reviews__item-name">Максим</div>
              <div class="reviews__item-post">предприниматель</div>
              <div class="reviews__item-email">
                <div class="reviews__item-icon">
                  <img src="/assets/img/inst.svg" alt="slide">
                </div>
                <a href="mailto:maxpolpudnikov">maxpolpudnikov</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__storis di-flex relative">
      <a href="#" class="btn reviews__storis-link animated-link btn-link">
        <span>Больше в сторис</span>
      </a>
    </div>
  </div>
</div>
