<section class="section">
  <div class="container">
    <div class="swiper plogistic__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide plogistic__slide">
          <div class="plogistic__slide-big">
            <img src="/assets/img/slider/left-top.jpg" class="cover" alt="">
          </div>
          <div class="plogistic__slide-small">
            <img src="/assets/img/slider/left-bottom.jpg" class="cover" alt="">
          </div>
        </div>
        <div class="swiper-slide plogistic__slide">
          <div class="plogistic__slide-middle">
            <img src="/assets/img/slider/midle.jpg" class="cover" alt="">
          </div>
        </div>
        <div class="swiper-slide plogistic__slide">
          <div class="plogistic__slide-small">
            <img src="/assets/img/slider/right-top.jpg" class="cover" alt="">
          </div>
          <div class="plogistic__slide-big">
            <img src="/assets/img/slider/right-bottom.jpg" class="cover" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>