.faq{
  padding-top: 259rem;
  position: relative;
  z-index: 3;
  @media (max-width:1680px){
    padding-top: 196rem;
  }
  @media (max-width:1100px){
      padding-top: 136rem;
    }
  @media (max-width:991px){
      padding-top: 96rem;
    }
  @media (max-width:767px){
      padding-top: 48rem;
    }
  &__title{
    font-weight: 700;
    font-size: 160px;
    line-height: 128px;      
    letter-spacing: -0.05em;
    @media (max-width:1680px){
      font-size: 120rem;
      line-height: 96rem;
    }
      @media (max-width:1100px){
      font-size: 96rem;
      line-height: 0.8;
    }
    @media (max-width:767px){
      font-size: 54rem;
      line-height: 48rem;
    }
  }
  &__item{
    max-width: 904rem;
    @media (max-width:1680px){
      max-width:878rem;
    }
    @media (max-width:1480px){
      max-width: 678rem;
    }
    @media (max-width:1200px){
      max-width: none;
      width: 100%;
    }
  }
  &__item+&__item{
    margin-top: 53.33rem;
    @media (max-width:1680px){
      margin-top: 40rem;
    }
     @media (max-width:767px) {
        margin-top: 20rem;       
      }
  }
  &__header{
    cursor: pointer;
    @media (max-width:767px) {
        // height: 48rem;
        display: flex;
        align-items: center;
      }
    &.active{
      .faq__btn{
        background-color: $text-light;
        background-image: url('../img/close.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  &__container{
    margin-left: auto;
    @media (max-width:1200px) {
        max-width: 50%;
      }
    @media (max-width:991px) {
        max-width: none;
        width: 100%;
        margin-top: 28rem;
      }
  }
  &__name{
    font-weight: 700;
      font-size: 42.6667rem;
      line-height: 53rem;      
      letter-spacing: -0.05em;
      width: calc(100% - 117.33rem);
      @media (max-width:1680px) {
          font-size: 32rem;
          line-height: 40rem;
          width: calc(100% - 88rem);
        }
      @media (max-width:1200px) {
        width: calc(100% - 58rem);
      }
      @media (max-width:991px) {
        width: calc(100% - 64rem);
      }
      @media (max-width:767px) {
        font-size: 24rem;
        line-height: 28rem;        
      }
  }
  &__btn{
    top: 0;
    right: 0;
    width: 64rem;
    height: 64rem;
    border-radius: 50%;
    background-color:$white;
    background-image: url('../img/plus.svg');
    background-repeat: no-repeat;
    background-position: center center;
    // transition: background-color .8s;
    @media (max-width:1680px){
      width: 48rem;
      height: 48rem;
      background-size: 24rem 24rem;
    }
  }
  &__content{
    width: calc(100% - 117.33rem);
    padding-top: 21.33rem;
    display: none;
    line-height: 43rem;
    letter-spacing: -0.05em;
    @media (max-width:1680px){
      line-height: 32rem;
      padding-top: 16rem;
    }
    @media (max-width:1200px) {
        width: calc(100% - 58rem);
      }
    @media (max-width:991px) {
        padding-top: 8rem;
        width: calc(100% - 64rem);
      }
    @media (max-width:767px) {
        line-height: 24rem;
      }
    @media (max-width:480px) {
        width: 100%;
      }
    
  }
}