.price{
  // временно
  min-height: 1317rem;
  position: relative;
  background-image: url('../img/price-bg.svg');
  background-size: cover;
  padding-top: 294.67rem;  
  border-radius: 0 0 $big-padding $big-padding;
  @media (max-width:1680px){
    padding-top: 221rem;
    border-radius: 0 0 64rem 64rem;
    min-height: 988rem;
  }
  
  @media (max-width:1100px){
    padding-top: 136rem;
    min-height: unset;
  }
  @media (max-width:767px){
    padding-top: 96rem;
    background-image: none;
    background-color: #000;
    overflow: hidden;
    border-radius: 0 0 24rem 24rem;
    &::before{
      content:"";
      position: absolute;
      width: 1200rem;
      height: 1200rem;
      top: -525rem;
      left: -525rem;
      background-image: url('../img/r.svg');
      background-size: cover;
      
    }
    &::after{
      content:"";
      position: absolute;
      width: 100%;
      height: 32rem;
      bottom: 0;
      background-color: #fff;
      border-radius: 0 0 24rem 24rem;
    }
    
  }
  &__container{
    width: 100%;
    max-width: 1692rem;
    margin: 0 auto;
    @media (max-width:1680px){
      max-width: 1450rem;
    }
    @media (max-width:1480px){
      max-width: 1258rem;
    }
    @media (max-width:1280px){
      width: calc(100% - 32rem);
    }
  }

  &__title{
    font-weight: 700;
    font-size: 213.333rem;
    line-height: 160rem;
    letter-spacing: -0.05em;
    position: relative;
    z-index: 3;
    @media (max-width:1680px){
      font-size: 160rem;
      line-height: 120rem;
    }
    @media (max-width:1279px){
      font-size: 120rem;
      line-height: 96rem;
    }
    @media (max-width:1100px){
      font-size: 96rem;
      line-height: 0.8;
    }
    @media (max-width:767px){
    font-size: 54rem;
    line-height: 48rem;
  }
    &-wrap{
     position: relative;
     display: inline-block;
    &::before{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 20rem;
      left: 20rem;
      background: linear-gradient(to left, rgba(0, 0, 0,.7), rgba(255, 255, 0, 0));
      filter: blur(100rem);
      z-index: 4;
      @media (max-width:767px){
        filter: blur(50rem);
      }
    }
   }
  }
  &__place{
    border-radius: $big-padding;
    overflow: hidden;
    top: 467rem;
    left: 37%;
    transform: rotate(-30deg);
    @media (max-width:1680px) {
      top: 350rem;
        width: 400rem;
        height: 400rem;
        border-radius: 64rem;
      }
    @media (max-width:1279px){
      top: 278rem;
      left: 32%;
    }
    @media (max-width:1100px){
      top: 100%;
      transform-origin: 48% 114%;
      width: 100%;
      height: auto;
      overflow: hidden;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    @media (max-width:767px){
      width: 370rem;
      transform: rotate(-15deg);
      transform-origin: 36% 178%;
    }
  }
  &__desc{
    position: relative;
    padding-top: 299.33rem;
    flex-flow: column;
    text-align: right;
    padding-left: 168rem;
    *{
      font-weight: 400;
      font-size: 21.3333rem;
      line-height: 32rem;
      letter-spacing: -0.02em;
    }
  }
  &__ticket{
    position: absolute;
    top: 85rem;
    right: -42rem;
    padding: $big-padding;
    border-radius: $big-padding;
    background-color: $white;
    transform: rotate(7deg);
    transform-origin: 0 0;
    z-index: 4;
    @media (max-width:1680px) {
        top: 64rem;
        right: 150rem;
        border-radius: 64rem;
        padding: 64rem;
      }
    @media (max-width:1480px){
      right: -40rem;
    }
    @media (max-width:1279px){
      top: 50rem;      
    }
    @media (max-width:1100px){
    position: relative;
    top: 0;
    right: 0;
    transform: unset;
    margin-left: -16rem;
    margin-right: -16rem;
    border-radius: 48rem;
    margin-top: 300rem;
    }
    @media (max-width:767px){
      margin-top: 208rem;
      top: 1rem;
      padding: 32rem 16rem;
      border-radius: 24rem;
      
    }
  }
  &__header{
    margin-bottom: 64rem;
    @media (max-width:1680px){
      margin-bottom: 48rem;
    }
    @media (max-width:767px){
        margin-bottom: 16rem;
      }
    span{
      font-weight: 700;
      font-size: 53.3333rem;
      line-height: 53rem;
      letter-spacing: -0.05em;
      @media (max-width:1680px){
        font-size: 40rem;
        line-height: 1;
      }
      @media (max-width:1100px){
        font-size: 32rem;
        line-height: 40rem;
      }
      &:first-child{
        font-size: 160rem;
        line-height: 128rem;
        @media (max-width:1680px){
          font-size: 120rem;
          line-height: 96rem;
        }
        @media (max-width:1100px){
          font-size: 96rem;
          line-height: 0.8;
        }
      @media (max-width:767px){
        font-size: 54rem;
        line-height: 48rem;
      }
      }
    }
  }
  &__list{
    &-name{
      font-weight: 700;
      font-size: 53.3333rem;
      line-height: 53rem;
      letter-spacing: -0.05em;
      margin-bottom: 10.67rem;
      @media (max-width:1680px) {
          font-size: 40rem;
          line-height: 1;
        }
      @media (max-width:1100px){
        font-size: 32rem;
        line-height: 40rem;
      }
    }
    p{      
      position: relative;
      letter-spacing: -0.05em;
      padding-left: 40rem;
      @media (max-width:1680px){
        padding-left: 30rem;
      }
      @media (max-width:767px){
        padding-left: 26rem;
      }
      &::before{
        content: "";
        position: absolute;
        width: 24rem;
        height: 43rem;
        top: 0;
        left: 0;
        background-image: url('../img/light-mark.svg');
        background-position: center center;
        background-repeat: no-repeat;
        @media (max-width:1680px){
          width: 18rem;
          height: 32rem;
          background-size: 15.36rem;
        }
        @media (max-width:767px){
          width: 14rem;
          line-height: 24rem;
          background-size: 12.29rem;
          top: -3rem;
        }
      }
    }
  }
  &__body{
    margin-bottom: 64rem;
    @media (max-width:1680px){
      margin-bottom: 48rem;
    }
    @media (max-width:767px){
        margin-bottom: 16rem;
      }
  }
}