.programm{
  padding-top: 180.67rem;
  position: relative;
  z-index: 3;
  @media (max-width:1680px){
    padding-top: 136rem;
  }
  @media (max-width:1100px) {
    padding-top: 96rem;
  }
  @media (max-width:767px){
      padding-top: 64rem;
    }
  &__title{
    font-size: 160rem;
    line-height: 128rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 96rem;
    max-width: 846rem;
    @media (max-width:1680px){
      font-size: 120rem;
      line-height: 96rem;
      margin-bottom: 72rem;
    }
    @media (max-width:1100px){
      margin-bottom: 40rem;
      font-size: 96rem;
      line-height: 0.8;
    }
    @media (max-width:767px){
      font-size: 54rem;
      line-height: 48rem;
      max-width: 286rem;
    }
  }
}
.myMap{
  height: 533.33rem;
  overflow: hidden;
  border-radius: $big-padding;
  margin-bottom: $big-padding;
  @media (max-width:1680px){
    border-radius: 64rem;
    margin-bottom: 64rem;
    height: 400rem;
  }
  @media (max-width:1280px){
    border-radius: 24rem;
    margin-bottom: 24rem;
    
  }
}
.map__list{
  margin-bottom: 42rem;
  @media (max-width:1680px){
    margin-bottom: 32rem;
  }
  @media (max-width:767px){
      margin-bottom: 26rem;
    }
  .swiper-wrapper{
    align-items: flex-end;
  }
}
.map__listItems{
  width: auto!important;
  &:not(:last-child){
    margin-right: 32rem;
    @media (max-width:767px) {
        margin-right: 24rem;
      }
  }
  span{
    font-weight: 700;
    color: $text-light;
    font-size: 42.6667rem;
    line-height: 53rem;
    display: block;
    letter-spacing: -0.05em;
    cursor: pointer;
    @media (max-width:1680px){
      font-size: 32rem;
      line-height: 40rem;
    }
    @media (max-width:767px){
        font-size: 24rem;
        line-height: 28rem;
      }
    &.active{
      font-size: 85.3333rem;
      line-height: 85rem;
      color: $text;
      @media (max-width:1680px){
        font-size: 64rem;
        line-height: 1;
      }
      @media (max-width:767px){
        font-size: 40rem;
      }
    }
  }
}
.map__text-top{
  margin-bottom: 83.67rem;
  @media (max-width:1680px){
    margin-bottom: 64rem;
  }
  @media (max-width:767px){
      margin-bottom: 40rem;
    }
}
.map__text-content{
p {
    // align-items: center;

    i {
      margin-right: 18.16rem;
      display: block;
      padding-top: 10rem;
      @media (max-width:1680px){
        margin-right: 13.5rem;
        padding-top: 8rem;
        img{
          width: 15.36rem;
          height: 15.36rem;
        }
      }
      @media (max-width:767px){
        margin-right: 12rem;
        padding-top: 6rem;
      }
    }
    span{
      width: calc(100% - 39.16rem);
    }
  }
}

.map__images{
  right: 0;
  top: 0;
}
.map__text-left{
  max-width: 65.56%;
  @media (max-width:1680px){
    max-width: 60%;
  }
  @media (max-width:991px){
    max-width: unset;
  }
  h3{
    font-weight: 700;
      font-size: 53.3333rem;
      line-height: 53rem;    
      letter-spacing: -0.05em;
      margin-bottom: $lh;
      @media (max-width:1680px){
        font-size: 40rem;
        line-height: 1;
        margin-bottom: 32rem;
      }
      @media (max-width:767px){
        font-size: 32rem;
        line-height: 40rem;
        margin-bottom: 16rem;
      }
  }
  .map__text-content{
    p{
      span{
        width: 65%;
        @media (max-width:1680px) {
            max-width: 60%;
          }
      }
    }
  }
}
.map__images{
  width: 645.33rem;
  height: 538.67rem;
  top:$big-padding;
  @media (max-width:1680px){
    width: 484rem;
    height: 404rem;
    top: 48rem;
  }
  @media (max-width:991px){
    position: relative;
    top: 0;
    margin-top: 40rem;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width:576px){
    width: 343rem;
    height: 280rem;
  }
}
.map__image{
  transform: rotate(15deg);
  right: 25rem;
  overflow: hidden;
  img{
    border-radius: $big-padding;
  }
  &:first-child{
    transform: rotate(-15deg);
    left: 21rem;
    z-index: 1;
    top: $big-padding;
    @media (max-width:1680px){
      top: 48rem;
    }
  }
   @media (max-width:1680px) {
     img{
       width: 301.16rem;
       border-radius: 64rem;
    }
   }
     @media (max-width:576px) {
      img{
        width: 208.4rem;
        height: 208.4rem;
        border-radius: 24rem;
      }
     }
}
