.reviews{
  padding-top: $big-padding;
  margin-bottom: -112.67rem;
  @media (max-width:1680px){
    padding-top: 64rem;
    margin-bottom: -84rem;
  }
  @media (max-width:1100px){
    margin-bottom: -72rem;
  }
  @media (max-width:767px){
    padding-top: 24rem;
    margin-bottom: 0;
  }
  &__container{
    display: flex;
    flex-flow: column;
    position: relative;
    z-index: 2;
  }
  &__header{
    font-weight: 400;
    letter-spacing: -0.05em;
    font-size: 42.6667rem;
    line-height: 53rem;
    max-width: 760rem;
    margin-bottom: 111.67rem;
    @media (max-width:1680px){
      margin-bottom: 84rem;
      font-size: 32rem;
      line-height: 40rem;
      max-width: 680rem;
    }
    @media (max-width:1100px){
      margin-bottom: 64rem;
    }
    @media (max-width:767px){
    font-size: 24rem;
    line-height: 32rem;
    max-width: 300rem;
    margin-bottom: 40rem;
  }
  }
  &__video{
    overflow: hidden;
    border-radius: 64rem;
    margin-bottom: $lh;
    cursor: pointer;
    transition: box-shadow .4s;
    @media (max-width:1680px) {
        margin-bottom: 32rem;
        border-radius: 48rem;
      }
    @media (max-width:1280px) {        
        border-radius: 32rem;
      }
    @media (max-width:1100px) {        
        border-radius: 24rem;
      }
    @media (min-width:1200px) {
      &:hover{
        box-shadow: 2rem 2rem 40rem rgba(0,0,0,.5);
        .play-link{
          &::before{
            transform: translate(-50%, -50%) scale(1.2, 1.2);

          }
        }
      }
    }
    
  }
  &__item{
    
    &:nth-child(1){
      .reviews__video{
        height: 735.67rem;
        @media (max-width:1680px){
          height: 553rem;
        }
        @media (max-width:991px){
          height: 453rem;
        }
        @media (max-width:767px){
          height: 404rem;
        }
      }
    }
    &:nth-child(2){
      .reviews__video{
        height: 615.67rem;
        @media (max-width:1680px) {
            height: 463rem;
          }
        @media (max-width:991px){
          height: 363rem;
        }
        @media (max-width:767px){
          height: 404rem;
        }
      }
    }
    &:nth-child(3){
      .reviews__video{
        height: 495.67rem;
        @media (max-width:1680px) {
            height: 373rem;
          }
        @media (max-width:991px){
          height: 273rem;
        }
        @media (max-width:767px){
          height: 404rem;
        }
      }
    }
    &-name{
      font-weight: 700;
      font-size: 53.3333rem;
      line-height: 53rem;
      letter-spacing: -0.05em;
      @media (max-width:1680px) {
          font-size: 40rem;
          line-height: 1;
        }
       @media (max-width:1100px){
      font-size: 32rem;
      line-height: 40rem;
      }
    }
    &-post{
      letter-spacing: -0.05em;
      opacity: 0.7;
      @media (max-width:1100px) {
          font-size: 16rem;
          line-height: 24rem;
        }
    }
    &-email{
      display: flex;
      align-items: flex-end;
      font-weight: 700;
      font-size: 53.3333rem;
      line-height: 53rem;
      letter-spacing: -0.05em;
      padding-top: 16rem;
      position: relative;
      z-index: 3;
      @media (max-width:1680px){
        padding-top: 12rem;
        font-size: 40rem;
        line-height: 1;
      }
      @media (max-width:1100px){
      font-size: 32rem;
      line-height: 40rem;
      padding-top: 8rem;
      }
    }
    &-icon{
      padding-bottom: 5rem;
      display: block;
      margin-right: 20.73rem;
      @media (max-width:1680px){
        margin-right: 15.55rem;
        img{
          width: 25rem;
        }
      }
      
    }
  }
  &__storis{
    top: -112.67rem;
    z-index: 1;
    align-self: baseline;
    margin-left: auto;
    @media (max-width:1680px){
      top: -84rem;
    }
    @media (max-width:1100px){
      top: -72rem;
    }
    @media (max-width:767px){
      top: 0;
      margin-top: 40rem;
      margin-left: 0;
    }
    &-link{
      margin-left: auto;
      position: relative;
      transition: color .4s;
      background-color: $white;
      &::before {
          content: "";
          position: absolute;
          top: 42.67rem;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 56rem;
          background: #4C39BE;
          filter: blur(66.6667px);
          z-index: -1;
          opacity: 0;
          transition: opacity .4s;
        }
      &:hover,
      &:focus{
        background-color: #4C39BE;
        color: $white;        
        &::before{
          opacity: .7;
        }
      }
      @media (max-width:1680px){
        width: 394rem;
        height: 84rem;
        font-size: 40rem;
      }
      @media (max-width:1100px){
      height: 72rem;
      font-size: 32rem;
      width: 343rem;
      }
    }
  } 

  &__item{
    transform-style: preserve-3d;
  }
}