@mixin btn-link($fz:53.3333rem,$fw:700,$h:112.67rem,$w:525rem,$c:$text,$bg:$white,$bdr:133.33rem){  
  font-weight: $fw;
  font-size: $fz;
  line-height: 1;  
  background-color: $bg;
  border-radius: $bdr;
  color: $c;
  width: $w;
  height: $h;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.05em;
}

@mixin btn($w:353.33rem,$h:112rem,$bg:$green-gradient,$before:$green-beefore){
  color: $white;
  border-radius: 56rem;
  background: $bg;
  font-weight: 700;
  font-size: 53.3333px;
  line-height: 53px; 
  letter-spacing: -0.05em;
  position: relative;
  width: $w;
  height: $h;
  &::before{
    content:"";
    position: absolute;
    top: 42.67rem;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 56rem;
    background: $before;
    filter: blur(66.6667px);
    z-index: -1;
  }
    @media (max-width:1680px) {
      font-size: 40rem;
      line-height: 1;
      height: 84rem;
      &::before{
        top: 32rem;
        filter: blur(50rem);
      }
    }
    @media (max-width:1100px){
      font-size: 32rem;
      height: 72rem;
      &::before {
          top: 24rem;
          filter: blur(42rem);
        }
    }
}