.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.align-end{
  align-items: flex-end;
}
.align-center{
  align-items: center;
}
.d-grid{
  display: grid;
}
.d-block{
  display: block;
}
.di-flex{
  display: inline-flex;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.white{
  color: $white;
}
.text-gray{
  color: $text-gray;
}
.bg-white{
  background-color: $white;
}
.text-light{
  color: $text-light;
}

.text-center{
  text-align: center;
}

.video-fit{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.play-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  
  &::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 53rem;
    height: 57rem;
    background-image: url('../img/play.svg');
    transition: transform .4s;
    @media (max-width:1680px){
      width: 39.67rem;
      height: 42rem;
      background-size: 100% 100%;
    }
  }

  &--left{
    &::before{
      left: calc(50% + 39rem);
    }
  }

  &:hover{
    &::before{
      transform: translate(-50%, -50%) scale(1.2,1.2);
    }
  }
}

html body .show-lg{
  @media (max-width:1280px) {
      display: none;
    }
}

html body .hide-lg{
  @media (min-width:1281px) {
    display: none;
  }
  position: relative;
    z-index: 3;
}

.scroll-hidden{
  overflow-y: hidden;  
}

.scroll-fade{
  opacity: 0;
  transition: opacity 1.5s;
  &.visible{
    opacity: 1;
    transition: opacity 1.5s;
  }
}


