$text:#26334B;
$text-light:#A0AABE;
$text-gray:#798397;
$white:#fff;
$body:#e4e4e9;
$menuItem:rgba(38, 51, 75, 0.2);
$lh:42.67rem;
$big-padding:85.33rem;
$green-gradient:linear-gradient(261.7deg, #A7D83E 2.28%, rgba(82, 255, 0, 0) 100%),#3FADCF;
$green-beefore:linear-gradient(261.7deg, #ADE040 2.28%, rgba(82, 255, 0, 0) 100%),#00C2FF;
$header:#EBEDF4;
$toggler:#4C39BE;